<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 지도, 동네인증시 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- tools:ignore="ManifestOrder" -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Withmehome"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="31">
        <activity
            android:name=".RecruitcsActivity"
            android:exported="false" />
        <activity
            android:name=".RecruitetcActivity"
            android:exported="false" />
        <activity
            android:name=".RecruitlookActivity"
            android:exported="false" />
        <activity
            android:name=".RecruittripActivity"
            android:exported="false" />
        <activity
            android:name=".RecruitwalkActivity"
            android:exported="false" />
        <activity
            android:name=".LeaveMessageActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ManageinfoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WriteReviewActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 구글지도 api key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJXhM_z8-RuMgMnC518aM-R6jX6ZLPB6g" />

        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:theme="@style/SplashTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recruitment_detail_leader"
            android:exported="false"></activity>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />

        <activity
            android:name=".LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao818712b89ed47ae9edee2e90fe16dcdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:exported="false"></activity>
        <activity
            android:name=".NaviActivity"
            android:exported="false"></activity>
        <activity
            android:name=".WriteRecruitmentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
        <activity
            android:name=".RecruitmentDetailActivity"
            android:exported="false"
            android:theme="@style/MaterialCustomRoot" />
        <activity
            android:name=".NicknameSetActivity"
            android:exported="false" />
        <activity
            android:name=".MeetmainActivity"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".MypgActivity"
            android:exported="false" />
        <activity
            android:name=".RecruitmentDetailDeadlineActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LikeActivity"
            android:exported="false" />
        <activity
            android:name=".sharing_message"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>